name: Go-build-and-test

on:
  push:
  pull_request:
  schedule:
    - cron: "0 8 * * 0" # every sunday

permissions:
  contents: read

jobs:
  build-test:
    strategy:
      matrix:
        go-version: [1.21.x]
        os: [ubuntu-latest]
        subproject: [ipu-plugin, network_function] # Add more subprojects as needed
    runs-on: ${{ matrix.os }}
    env:
      GO111MODULE: on
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@63c24ba6bd7ba022e95695ff85de572c04a18142 # v2.7.0
        with:
          egress-policy: audit

      - name: Set up Go
        uses: actions/setup-go@f111f3307d8850f501ac008e886eec1fd1932a34 # v5.3.0
        with:
          go-version: ${{ matrix.go-version }}

      - name: Check out code into the Go module directory
        uses: actions/checkout@9bb56186c3b09b4f86b1c65136769dd318469633 # v4.1.2

      - name: Build each subproject
        run: |
          for subproject in ${{ matrix.subproject }}; do
            cd "$subproject"
            make build
            cd ..
          done
