name: Go-build-and-test

on:
  push:
  pull_request:
  schedule:
    - cron: "0 8 * * 0" # every sunday

jobs:
  build-test:
    strategy:
      matrix:
        go-version: [1.21.x]
        os: [ubuntu-latest]
        goos: [linux]
        goarch: [amd64, arm64]
        subproject: [ipu-plugin, ipu-device-plugin] # Add more subprojects as needed
    runs-on: ${{ matrix.os }}
    env:
      GO111MODULE: on
    steps:
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: ${{ matrix.go-version }}

      - name: Check out code into the Go module directory
        uses: actions/checkout@v3

      - name: Build each subproject
        run: |
          for subproject in ${{ matrix.subproject }}; do
            cd "$subproject"
            make build
            cd ..
          done
