name: Go-build-and-test

on:
  push:
  pull_request:
  schedule:
    - cron: "0 8 * * 0" # every sunday

permissions:
  contents: read

jobs:
  build-test:
    strategy:
      matrix:
        go-version: [1.21.x]
        os: [ubuntu-latest]
        subproject: [ipu-plugin, network_function] # Add more subprojects as needed
    runs-on: ${{ matrix.os }}
    env:
      GO111MODULE: on
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@4d991eb9b905ef189e4c376166672c3f2f230481 # v2.11.0
        with:
          egress-policy: audit

      - name: Set up Go
        uses: actions/setup-go@0c52d547c9bc32b1aa3301fd7a9cb496313a4491 # v5.0.0
        with:
          go-version: ${{ matrix.go-version }}

      - name: Check out code into the Go module directory
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Build each subproject
        run: |
          for subproject in ${{ matrix.subproject }}; do
            cd "$subproject"
            make build
            cd ..
          done
